<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Password Reset</title>
</head>
<body>
<!--  greeting message to user  -->
<p>Greetings,</p>
<!--  message from admin  -->
<p>You got a new message from <strong>Admin</strong>:</p>
<p style="padding: 12px; border-left: 4px solid #d0d0d0; font-style: italic;"><strong th:text="${message}"></strong><a href="#" th:href="${url}" target="_blank">click here</a></p>
<p>Best wishes,<br>Admin | Tiffin Box</p>
</body>
</html>
